:root {
    --shade1: #B9EDDD;
    --shade2: #87CBB9;
    --shade3: #569DAA;
    --shade4: #577D86;
  }

.main-container{
    max-width: 600px;
    min-height: 100vh;
    
    margin: auto;
    background-color: var(--shade1);
    border: 5px solid var(--shade4);
    border-radius: 10px;
}

.header-container{
    height: 80px;
    color: white;
    text-align: center;
    background-color: var(--shade4);
}


.addtask-form input,
.addtask-form textarea{
    width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: none;
      border-radius: 20px;
      background: var(--shade2)
}
.add-task-button, .submit-button{
    background-color: var(--shade3);
    color: var(--shade4);
    border-radius: 10px;
    border-bottom: 5px solid var(--shade4);
    background: -webkit-linear-gradient(to right,var(--shade4),var(--shade2) ,var(--shade4));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,var(--shade4),var(--shade2) ,var(--shade4)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight:bold;
}

.main-task-div{
    align-items: center;
    justify-content:space-between;
    border: 2px solid;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 4px 8px 0  rgba(237, 94, 17, 0.19), 0 6px 20px 0 rgba(237, 94, 17, 0.19);
}

.icon-delete{
    color: red;
}
.icon-edit{
    color:blue;
}
.icon-edit,.icon-delete{
    cursor: pointer;
    font-size: 25px;
    width: 2rem;
}

.delete-button{
    border: none;
    background-color: inherit;
    width: auto;
    padding:0px;
}

.task-text{
    font-size: 1.2rem;
    height: auto;
    width: 100%;
    border: none;
    border-left: 5px solid ;
}
